@model EditFuelPlus_1WatchViewModel

<form asp-controller="Fuel" asp-action="EditPlusFuel_1Watch" method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <input asp-for="Id" hidden readonly />
    <div class="form-group">
        <label asp-for="FuelConsumptionPlus_1Watch">Приход (заправка) за первую вахту</label>
        <span asp-validation-for=" FuelConsumptionPlus_1Watch" style="color:red;"></span>
        <input asp-for=" FuelConsumptionPlus_1Watch" value="@Model.FuelConsumptionPlus_1Watch" class="form-control" />
    </div>
    <input type="submit" class="btn btn-success m-2" value="Изменить" />
</form>

<a asp-controller="Fuel" asp-action="index" class="btn btn-primary m-2">Назад</a>