@model EditFuelMinus_2WatchViewModel

<form asp-controller="Fuel" asp-action="EditMinusFuel_2Watch" method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <input asp-for="Id" hidden readonly />
    <div class="form-group">
        <label asp-for="FuelConsumptionMinus_2Watch">Расход за вторую вахту</label>
        <span asp-validation-for=" FuelConsumptionMinus_2Watch"></span>
        <input asp-for=" FuelConsumptionMinus_2Watch" value="@Model.FuelConsumptionMinus_2Watch" class="form-control" />
    </div>
    <input type="submit" class="btn btn-success m-2" value="Изменить" />
</form>

<a asp-controller="Fuel" asp-action="index" class="btn btn-primary m-2">Назад</a>