@model EditCarNumberViewModel

<form asp-controller="Car" asp-action="EditCarNumber" method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <input asp-for="Id" hidden readonly />
    <div class="form-group">
        <label asp-for="Number">Гос. номер автомобиля</label>
        <span asp-validation-for="Number"></span>
        <input asp-for="Number" value="@Model.Number" class="form-control" />
    </div>
    <input type="submit" class="btn btn-success m-2" value="Изменить" />
</form>

<a asp-controller="Car" asp-action="index" class="btn btn-primary m-2">Назад</a>