@model DriverDeleteViewModel

@{
    ViewData["Title"] = "Удаление водителя из базы";
}

<h2>Удаление водителя из базы</h2>

<form asp-controller="Driver" asp-action="DeleteDriver" method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="FullNumber">ФИО водителя</label>
        <span asp-validation-for="FullNumber" style="color:red;"></span>
        <input asp-for="FullNumber" value="@Model.FullNumber" class="form-control" />
    </div>
    <input type="submit" class="btn btn-success m-2" value="Удалить" />
</form>

<a asp-controller="Driver" asp-action="Index" class="btn btn-primary m-2">Назад</a>